@import url("http://mobile.tapeandmedia.com/css/foundation.css");


/* New Addition by BHW */
a:link:after {
  content:"";
}


/*Reseting display*/
.large-1 {
  position: relative;
  width: 8.33333%; }

.large-2 {
  position: relative;
  width: 16.66667%; }

.large-3 {
  position: relative;
  width: 25%; }

.large-4 {
  position: relative;
  width: 33.33333%; }

.large-5 {
  position: relative;
  width: 41.66667%; }

.large-6 {
  position: relative;
  width: 50%; }

.large-7 {
  position: relative;
  width: 58.33333%; }

.large-8 {
  position: relative;
  width: 66.66667%; }

.large-9 {
  position: relative;
  width: 75%; }

.large-10 {
  position: relative;
  width: 83.33333%; }

.large-11 {
  position: relative;
  width: 91.66667%; }

.large-12 {
  position: relative;
  width: 100%; }


/*added by aniskhan001*/

.hide-for-small{
  display: block !important;
}

.show-for-small{
  display: none !important;
}

.large-block-grid-5 > li{
  width: 20%;
  float: left;
  list-style-type: none;
}

.panel.radius form{
  margin-left: -20px;
}

/*single item page*/
.push-6 {
  position: relative;
  left: 50%;
  right: auto;
}

.pull-3 {
  position: relative;
  right: 25%;
  left: auto;
}

section:not(.active){
  display: none;
}

.section.hide-for-small.active{
  display: block !important;
}

.section.hide-for-small{
  display: none !important;
}

div[itemtype="http://data-vocabulary.org/Product"]{
  overflow: hidden;
}

/*Process order*/

.hide-for-medium-up{
  display: none !important;
}

.row .large-offset-8{
  position: relative;
  margin-left: 66.66667%;
}

/*hiding close buttons and related texts*/
small, input[value="MODIFY"],
img[src="/images/closeIcon.png"]{
  display: none;
}

/*clearing checkboxes*/
label[for="checkboxSC"]{
  display: none;
}

.large-2.columns.hide-for-small>a[href="/search.asp"]{
  display: none;
}

/*Footer text align to the middle*/
footer.row> .columns> .row> .columns{
  text-align: center !important;
  width: 100%;
  margin: 0 auto;
}

iframe[name="ink_finder3"]{
  display: none;
}


/*added 0.5 inch margin*/
body{
  margin: 1.27cm;
}

.large-block-grid-5 > li:nth-of-type(6){
  clear: left;
}