body{
	background: #ededed;
	margin: 0;
}

a{
	text-decoration: none;
	color: #FFFFFF;
	outline: none;
}

.main-nav{
	background: #7c7c7c;
	height: 45px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.main-nav ul{
	margin: 0 auto;
	width: 600px;
}

.main-nav ul li a{
	text-decoration: none;
}

.main-nav ul li{
	font-family: verdana;
	font-size: 1.5em;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
/*	-webkit-transition-property: font-size, color;
	-moz-transition-property: font-size;
	-o-transition-property: font-size;
	transition-property: font-size, color;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s, 3s;
	/*ease ease-in ease-out ease-in-out*/
/*	-webkit-transition-timing-function: cubic-bezier;
	-moz-transition-timing-function: cubic-bezier;
	-o-transition-timing-function: cubic-bezier;
	transition-timing-function: cubic-bezier;*/

/*	-webkit-transition: font-size 0.5s ease, color 2s ease-out;
	-moz-transition: font-size 0.5s ease, color 2s ease-out;
	-o-transition: font-size 0.5s ease, color 2s ease-out;
	transition: font-size 0.5s ease, color 2s ease-out;*/

	transition: all 0.9s ease;
}

.main-nav ul li:hover{
	/*font-size: 5em;
	color: green;*/
	-webkit-transform: scale(1.5) rotate(360deg);
	transform: scale(1.5) rotate(360deg);
}

.container{
	width: 400px;
	margin: 0 auto;
	clear: both;
}

/*************Accordion***************/
.heading{
	background: green;
	border-top: 1px solid rgb(0, 158, 0);
	border-bottom: 1px solid rgb(0, 88, 0);
	margin: 0;
	padding: 0;
	padding-left: 20px;
}

div.hidden{
	border-right: 2px solid green;
	border-left: 2px solid green;
	overflow: hidden;
	height: 0;
	transition: all 0.6s ease;
}


#one:target + div.hidden{
	height: 150px;
}

#two:target + div.hidden{
	height: 150px;
}

#three:target + div.hidden{
	height: 150px;
}

.container .hidden:last-child {
	border-bottom: 2px solid green;
}

.container #three h1{
	border-bottom: none;
}